%% Compilation

{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

%% Dependencies

{deps,
 [
  {cowboy, "2.5.0"},
  {lager, "3.6.6"},
  {uuid, "1.7.4", {pkg, uuid_erl}},
  {jsx, "2.9.0"},
  {spellerl, "1.0.1"}
 ]}.

{profiles,
 [
  {test,
   [{deps,
     [{gun, "1.3.0"},
      {meck, "0.8.12"}]},
    {erl_opts, [debug_info]}]}
 ]}.

%% Cover

{cover_enabled, true}.
{cover_opts, [verbose]}.

%% Common Test

{ct_compile_opts, [nowarn_export_all]}.

{ct_opts,
 [
  {sys_config, "erl.config"},
  {logdir, "test/logs"},
  {spec, "test/ct.test.spec"}
 ]}.

%% Shell

{shell,
 [
  {config, "erl.config"},
  {apps, [bower]}
 ]}.

%% Local Variables:
%% mode: erlang
%% End:
